POSTGRES_DB=mini_payment_gateway
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
APP_ENV=local
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/mini_payment_gateway
